<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Welcome to SungjukMgmt</display-name>
  <servlet>
	<servlet-name>DBCPInit</servlet-name>
	<servlet-class>com.javasoft.libs.models.DBCPInit</servlet-class>
	<load-on-startup>1</load-on-startup>
	<init-param>
		<param-name>jdbcdriver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>Input</servlet-name>
  	<servlet-class>com.javasoft.libs.views.InputServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<servlet-class>com.javasoft.libs.views.IndexServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Input</servlet-name>
  	<url-pattern>/servlet/Input</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/servlet/Index</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>

